In [4]:
import pandas as pd
import re
import nltk

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC7LAB2BSCIT\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\PC7LAB2BSCIT\AppData\Roaming\nltk_data...

True

In [6]:
data={"text":["I love NLP!It is amazing.","NLP is used in chatbots and  search engins.","I do not like boring lectures.","This NLP session is very interesting!"]}
df=pd.DataFrame(data)
df

                                          text
0                    I love NLP!It is amazing.
1  NLP is used in chatbots and  search engins.
2               I do not like boring lectures.
3        This NLP session is very interesting!

In [9]:
stop_words=set(stopwords.words("english"))
lemmatizer=WordNetLemmatizer()
def clean_text(text):
    text=text.lower()
    text=re.sub(r'[^a-z\s]','',text)
    words=text.split()
    words=[w for w in words if w not in stop_words]
    words=[lemmatizer.lemmatize(w)for w in words]
    return"".join(words)

In [10]:
df["clean_text"]=df["text"].apply(clean_text)
df

                                          text                   clean_text
0                    I love NLP!It is amazing.             lovenlpitamazing
1  NLP is used in chatbots and  search engins.  nlpusedchatbotssearchengins
2               I do not like boring lectures.            likeboringlecture
3        This NLP session is very interesting!        nlpsessioninteresting

In [12]:
tfidf=TfidfVectorizer()
X=tfidf.fit_transform(df["clean_text"])
print("Vocabulary:\n",tfidf.get_feature_names_out())
print("\nTF-IDF Matrix:\n",X.toarray())

Vocabulary:
 ['likeboringlecture' 'lovenlpitamazing' 'nlpsessioninteresting'
 'nlpusedchatbotssearchengins']

TF-IDF Matrix:
 [[0. 1. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 1. 0.]]

In [13]:
tfidf_df=pd.DataFrame(X.toarray(),columns=tfidf.get_feature_names_out())
tfidf_df

,likeboringlecture,lovenlpitamazing,nlpsessioninteresting,nlpusedchatbotssearchengins
0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0